{% extends "index.html" %}
{% block body %}
  <h1 align="center">Авторизация на сайте</h1>
{% for error in errors %}
    <p style="color: red">{{ error }}</p>
{% endfor %}
<form class="px-4 py-3" action="/auth/login" method="post">
    <div class="mb-3">
        <label for="exampleUsername" class="form-label">Введите ваш username</label>
        <input class="form-control" id="exampleUsername" placeholder="Username" name="username" value="{{ username }}" required>>
    </div>
    <div class="mb-3">
        <label for="exampleDropdownFormPassword1" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="password" value="{{ password }}" required>
    </div>

    <button type="submit" class="btn btn-primary">Авторизоваться</button>
</form>
{% endblock %}
